<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}">

    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/homepage">
        <ion-nav-view name="tab-homepage"></ion-nav-view>
    </ion-tab>

    <ion-tab title="热点" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/hots">
        <ion-nav-view name="tab-hots"></ion-nav-view>
    </ion-tab>

    <ion-tab title="社区" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/article">
        <ion-nav-view name="tab-article"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/mine">
        <ion-nav-view name="tab-mine"></ion-nav-view>
    </ion-tab>


</ion-tabs>