<ion-view view-title="我">
    <!--<ion-nav-bar class="bar-positive"></ion-nav-bar>-->
    <ion-content class="setting">
        <ion-list>
            <ion-item>
                <img src="img/commentfailure.png">
                <br>
                <p>立即登录</p>
            </ion-item>
        </ion-list>

        <div class="button-bar bar-light">
            <a class="button icon-left icon ion-android-star-outline">
                收藏
            </a>
            <a class="button icon-left icon ion-email">
                消息
            </a>
        </div>

        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <ion-toggle class="toggle-small">显示文章</ion-toggle>

            <ion-item class="item-divider">关于</ion-item>
            <ion-item>
                当前版本
                <span class="item-note">v2.2</span>
            </ion-item>
            <ion-item>
                意见反馈
                <span class="item-note">phonegap100@qq.com</span>
            </ion-item>
            <ion-item>关于作者</ion-item>
            <ion-item onclick="window.open('http://www.phonegap100.com', '_blank', 'location=yes')">
                关于phonegap中文网
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>